<div class="auth-wrapper">
  <div class="glass-card text-center">
    <div class="logo-glow mb-4">
      <i class="bi bi-shield-lock-fill text-white" style="font-size: 3.5rem;"></i>
    </div>

    <h2 class="fw-bold text-white mb-2">Reset Password</h2>
    <p class="text-white-50 small mb-4">Enter your new secure password below.</p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-4 text-start">
        <label class="form-label text-white-50 small ms-1">New Password</label>
        <div class="input-group">
          <span class="input-group-text glass-input-icon">
            <i class="bi bi-key-fill"></i>
          </span>
          <input type="password" formControlName="newPassword" class="form-control glass-input" placeholder="••••••••"
            [class.is-invalid]="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
        </div>
        <div class="invalid-feedback" style="font-size: 0.75rem; display: block;"
          *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
          Min 8 chars. Must include numbers, Uppercase,
          Lowercase & Special character (&#64;$!%*?#&).
        </div>
      </div>

      <div class="mb-4 text-start">
        <label class="form-label text-white-50 small ms-1">Confirm New Password</label>
        <div class="input-group">
          <span class="input-group-text glass-input-icon"><i class="bi bi-check-all"></i></span>
          <input type="password" formControlName="confirmPassword" class="form-control glass-input"
            placeholder="••••••••"
            [class.is-invalid]="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
        </div>
        <div class="invalid-feedback" style="font-size: 0.75rem; display: block;"
          *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['passwordMismatch']">
          Passwords do not match!
        </div>
      </div>

      <button type="submit" class="btn btn-login-grad w-100 py-3 mb-3">
        Update Password <i class="bi bi-check2-circle ms-1"></i>
      </button>

      <div class="mt-2">
        <a routerLink="/login" class="text-white-50 text-decoration-none small hover-white">
          <i class="bi bi-arrow-left me-1"></i> Back to Login
        </a>
      </div>
    </form>
  </div>
</div>